body{
    margin: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #2400FF;

}
main ul{
    list-style: none;
    font-size: 12px;
    padding-left: 0;
}
.footer1{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    color: #2400FF;
    font-size: 12px;
}
.lista{
    display: flex;
}