$font-sizes:(
    h2:24px,
    p:16px,
    price:28px,
    price2:20px,
    price3:48px,
    order:14px,
);
$weights:(
    w1:400,
    w2:600,
    w3:700,
);
$colors:(
    color-fondo:#EFF0F3,
    color-card:#FFFFFF,
    color-h2:#081F32,
    color-parrafo:#6E798C,
    color-calorias:#A5ADBB,
    color-fuego:#F8593B,
    color-hoja1:#FFC22B,
    color-hoja2:#2ECC71,
    azul:#007AE9,
);