.contact{
    margin-top: 50px;
    h2{
        font-family: 'Poppins', sans-serif;
        color: #0098EF;
        font-weight: 600;
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 30px;
        padding-left: 20px;
    }
    &__contact{
        margin: 0 auto;
    }
}
