.label{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    padding: 8px;
    border-radius: 8px;
    background: #D1FFA2;
    color: #580AAF;
    font-weight: 600;
    font-size: 11px;
}