html{
    font-family: Arial, Helvetica, sans-serif;

}

/* Estilos del Header */

header{
    display: flex;
    justify-content:space-between;
    padding: 0 15px;
    color: #FFFFFF;
    background-color: #00AF1C;
    font-size: 32px;
    height: 99px;
    align-items: center;
}
header nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin-right: 10px;
}
header nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

/* Estilos del main */

main{
    padding: 0 15px;
    padding-top: 30px;
    background-color: #E5E5E5;;
}
main h2{
    color: #3B06D2;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
main img{
    margin-right: 15px;
}
main .title-portafolio{
    color: #AAD206;
}
main .title-contacto{
    color: #06D2C6;
}
main p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
main ul{
    padding: 0 15px;
    font-weight: bold;
    line-height: 44px;
    font-size: 18px;
}
main .images{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
main .servicios ul{
    margin-bottom: 20px;
}
main .s1{
    color: #FF0000;
}
main .s2{
    color: #3B06D2;
}
main .s3{
    color: #AAD206;
}
main .s4{
    color: #06D2C6;
}
main .portafolio p,{
    margin-bottom: 30px;
}
main .portafolio ul{
    margin-bottom: 20px;
}
main .p1{
    color: #AAD206;
}
main .p2{
    color: #FF0000;
}
main .p3{
    color: #3B06D2;
}
main .p4{
    color: #06D2C6;
}
main .contacto textarea{
    width: 1339px;
    height: 214px;
    border: 1px solid #000000;
    margin-bottom: 10px;
}
main .contacto button{
    width: 195px;
    height: 73px;
    border: 1px solid #22A900;
    color: #22A900;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}
main .formulary{
    display: flex;
    width: 1000px;
    height: auto;
    margin-bottom: 10px;
    padding: 15px,0,15px,15px;
    font-size: 16px;
    align-items: center;
}
main input{
    margin-left: 20px;
    width: 300px;
    height: 40px;
    font-size: 16px;
}
main select{
    margin-left: 40px;
}
/* Estilos del footer */
footer{
    display: flex;
    background-color:#00AF1C;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    padding: 0 15px;
    font-size: 24px;
    font-weight: bold;
}
