.form{
    width: 98%;
    padding: 20px;
    color: #334680;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    &-h2{
        color: #B9BDCF;
        font-weight: bold;
    }
}