*{
    margin: 0;
    padding: 0;
}
body{
    background:#EFF0F3;
    box-sizing: border-box;
    height: 100vh;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    min-height: 3130px;
    //height: auto;
    background:#FFFFFF;
}